#geral{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
}

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#div-form, #div-lista-pessoas{
    margin: 20px 0px;
    padding: 5px;
}

form{
    background-color: deeppink;
    padding: 5px;
    border-radius: 8px;
    color: antiquewhite;
}

label, input{
    display: block;
    margin: 10px 0px;
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    padding: 0px 15px;
}

button{
    margin: 20px 0px;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

#div-lista-pessoas{
    background-color: plum;
    border-radius: 5px;
    padding: 25px;
}






